.nav-link {
  color: var(--canvasRed);
}

.nav-link:hover {
  color: var(--canvasRed);
}

.datepicker {
  max-width: 300px;
}

.react-datetime-picker__wrapper {
  border: none;
}

.details-assign {
  max-width: 300px;
}

.background-modal {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 20;
  min-width: 100%;
  min-height: 100%;
}

.modal-item {
  margin: 80px auto;
  width: 65%;
  height: max-content;
}

.table-question-editor {
  margin-top: 3px;
  margin-right: 24px;
}

.color-green {
  color: green;
  border-color: green;
}

.text-color-green {
  color: green
}

.question-choices {
  margin: 8px;
}