.wd-modules,
.wd-modules * {
  border-radius: 0%;
  border: none;
  margin: 0px;
  padding: 0px;
}

.wd-modules {
  margin: 5px;
}

.wd-modules > li {
  background-color: lightgray;
  border: 1px solid #e3e5e7 !important;
  border-left: none !important;
}

.wd-modules > li > div {
  padding: 16px 5px;
  border-left: 1px solid #e3e5e7 !important;
}

.wd-modules > li > ul > li {
  padding: 16px 5px;
  border-top: 1px solid #e3e5e7 !important;
  border-left: 6px solid #2d945d;
}

.wd-modules > li > ul > li:hover {
  background-color: #eef7ff;
}

.wd-modules > li {
  margin-bottom: 20px;
}

.quiz-question-editor-button-group {
  margin: auto;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
}

.question-editor {
  border: 2px solid #959595;
  padding: 18px 48px;
  margin-bottom: 16px;
  background-color: white;
}

.question-editor-form {
  max-width: max-content;
}

.question-editor-points-form {
  max-width: 100px;
}

.wd-modules-button {
  background: #f8f4f4;
  color: #2d3b45;
  border: 1px solid;
  border-color: #c7cdd1;
  border-radius: 3px;
  padding: 6px 14px;
  margin-bottom: 0;
  font-size: 16px;
  line-height: 20px;
  min-height: fit-content;
  min-width: fit-content;
  align-items: center;
}

.red-button {
  background: var(--canvasRed);
  color: white;
}

.green-button {
  background: green;
  color: white;
}

.blue-button {
  background: blue;
  color: white;
}

.list-group-item {
  color: rgb(45, 59, 69);
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-shadow: 1px 1px 0 rgba(255,255,255,.5);
}

.list-group-item div {
  color: rgb(61, 69, 76);
  background-color: #f8f4f4;
}

.list-group-item span {
  font-size: 18px;
}

.wd-modules-button select {
  border: none;
  background-color: inherit;
}

.fa-link {
  color: var(--canvasRed);
  margin-left: 14px;
  margin-right: 14px;
}

.new-module-form div input {
  border: 1px solid lightgray;
  border-radius: 6px;
}

.new-module-form div textarea {
  border-color: lightgray;
  border-radius: 6px;
}
