.editor-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
}

.editor-footer button {
  background-color: inherit;
  align-items: center;
  color: var(--canvasRed);
  border: none;
  border-radius: 8px;
}

.editor-footer button:hover {
  background-color: #fce9ea;
}

.redify {
  color: var(--canvasRed);
}

.blank-button {
  background-color: inherit;
  border: none;
}
