.quiz-name-text {
  font-size: 16px;
  font-weight: 700;
  line-height: 20.8px;
  color: rgb(45, 59, 69);
}

.quiz-sub-text {
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  color: rgb(76, 88, 96);
  box-sizing: border-box;
}

.quiz-sub-text span {
  font-size: 12px;
  font-weight: 700;
}

.quiz-icon {
  width: 40px;
  height: 40px;
}

.footer-icon {
  width: 20px;
  height: 20px;
}

.clear-button {
  background-color: inherit;
}

.popover-content {
  background-color: #ffffff;
  border: 1px solid #ccc;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
  padding: 10px;
  width: 125px;
}

.popover-content-item {
  color: #333;
  background-color: inherit;
  text-decoration: none;
  display: block;
  padding: 8px 12px;
  margin: 2px 0;
}

.popover-content-item:hover,
.popover-content-item:focus {
  background-color: #f7f7f7;
  color: #555;
}
