.quiz-name-text {
  font-size: 16px;
  font-weight: 700;
  line-height: 20.8px;
  color: rgb(45, 59, 69);
}

.quiz-sub-text {
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  color: rgb(76, 88, 96);
  box-sizing: border-box;
}

.quiz-sub-text span {
  font-size: 12px;
  font-weight: 700;
}

.quiz-icon {
  width: 40px;
  height: 40px;
}
