:root {
  --canvasRed: rgb(181, 40, 40);
}

a {
  color: var(--canvasRed);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

body {
  font-family: "Lato Extended", "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
}